html,
body {
  height: 100%;
}

#app {
  height: calc(100% - 200px);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
